# Thư mục thư viện
node_modules/
vendor/

# Các tệp cấu hình môi trường chứa mật khẩu (TUYỆT ĐỐI KHÔNG ĐƯA LÊN)
.env
.env.local
.env.*

# Các tệp rác của hệ điều hành và IDE
.DS_Store
.idea/
.vscode/
*.log